@font-face {
	font-family: frenchpress;
	src: url("frenchpress.ttf");
}



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
	line-height: 1.5em;
}

html,body{
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	font: normal 26pt frenchpress;
	letter-spacing: 0.2ex;
	text-align: center;
}



body{
	background: #333;
	display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

article{
	margin: 4ch;
	padding: 8ch 4ch;
	border-radius: 1ch;
	background: wheat;
    box-shadow: inset 0 0 10px #333;
    width: 70ch;
}

p{
	color: #333;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}